root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf

[*.{cs,csx,vb,vbx}]
dotnet_naming_rule.interface_should_be_begun_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begun_with_i.symbols = interface_symbols
dotnet_naming_rule.interface_should_be_begun_with_i.style = begun_with_i_style

dotnet_naming_symbols.interface_symbols.applicable_kinds = interface
dotnet_naming_style.begun_with_i_style.required_prefix = I
dotnet_naming_style.begun_with_i_style.capitalization = pascal_case

dotnet_naming_rule.private_members_with_underscore.symbols = private_fields
dotnet_naming_rule.private_members_with_underscore.style = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = error

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.required_prefix = _
dotnet_naming_style.prefix_underscore.capitalization = camel_case

csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true

csharp_style_expression_bodied_methods = when_possible:suggestion
csharp_style_expression_bodied_constructors = when_possible:suggestion