* text=auto

*.cs text diff=csharp
*.csproj text
*.sln text eol=crlf

*.js text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text

*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary

deploy/* linguist-vendored
tests/* linguist-documentation